.some-css-selector {
  background: green;
}

#whatToDoNow {
  background: magenta;
}

body {
  background: green;
}

*:root {
  background: blueviolet;
}

.skip-me {
  background: red;
}

@media (min-width: 768px) {
  .some-css-selector {
    width: 750px;
  }
}